on:
  push:
    branches: [main]
  pull_request:
    branches: ['**']

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes


    steps:
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install libpng from R-project repo (macOS)
        if: runner.os == 'macOS'
        run: |
          curl -LO https://mac.r-project.org/bin/darwin20/arm64/libpng-1.6.38-darwin.20-arm64.tar.xz
          sudo tar -xvf libpng-1.6.38-darwin.20-arm64.tar.xz -C /

      - name: Configure macOS R environment
        if: runner.os == 'macOS'
        run: |
          mkdir -p ~/.R
          echo "CPPFLAGS += -I/opt/homebrew/opt/gettext/include" >> ~/.R/Makevars
          echo "LDFLAGS += -L/opt/homebrew/opt/gettext/lib" >> ~/.R/Makevars

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, any::roxygen2, github::jamovi/jmvcore
          needs: check

      - name: Document
        run: roxygen2::roxygenise(roclets = "rd")
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
